@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.values-slider .slick-prev,
.values-slider .slick-next {
  width: 25px;
  height: 25px;
  z-index: 1;
}

.values-slider .slick-prev:before,
.values-slider .slick-next:before {
  font-size: 25px;
  color: white;
}

.values-slider .slick-prev {
  left: 10px;
}

.values-slider .slick-next {
  right: 10px;
}

.values-slider .slick-dots {
  display: none;
}